body{
    margin:0;
    padding-top:800px;
    text-align: center;    
    }
    .profile{
    border-radius: 50%;    
    }
    #Welcome{
     position: absolute;
     background: linear-gradient(#0df58c 0%,#0afbe9 100%); 
     display: table;
     width: 100%;
     height: 100%; 
     }
     #bio{
    font-family: 'Cinzel Decorative',cursive;
    padding: 50px;
    }
    #name{
    font-size:50px;
    font-family: 'Cinzel Decorative',cursive;
    }
    .line{
    height:6px;
    background-color:#000;
    width:70px;
    margin:8px;    
    }
    
.menu{
 position: fixed;
 background:white ;
 width:100%;
 margin-top:0px; 
top:0px;
z-index: 10;
}
.links{
display: inline;
padding-left: 33px;
padding-right:25px;
font-family:fantasy;
font-size: 20px;
}
.links:hover {
font-size: 25px;
text-decoration:underline;
}
#writings a{
text-decoration:underline !important;
color:green !important;
font-size:30px
}
#contact{
background:lightgray;
}
.contact_1 h3{
   display:inline; 
}
